<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       		http://www.springframework.org/schema/beans 
       		http://www.springframework.org/schema/beans/spring-beans.xsd">
       	<bean class = "controller.prod.ProdController" />
       	<bean id ="productAutoNumService"
       		class="service.product.ProductAutoNumService" />	
		<bean class = "repository.ProductRepository" />
		<bean class = "service.product.ProductJoinService" />
		<bean class = "service.product.ProductListService" />
		<bean class = "service.product.ProductInfoService" />
		<bean class = "service.product.ProductModifyService" />
		<bean class = "service.product.ProductDeleteService" />
		<bean class = "service.product.CartAddService" />
		<bean class = "service.product.CartListService" />
		<bean class = "service.product.CartQtyDownService" />
		<bean class = "service.product.ProdBuyService" />
		<bean class = "service.product.GoodsOrderService" />
		<bean class = "service.product.PurchaseListService" />
		<bean class = "service.product.PaymentService" />
		<bean class = "service.product.ReviewWriteService" />
		<bean class = "service.product.ReviewModifyService" />
		<bean class = "service.product.ReviewUpdateService" />	
</beans>